* {
    font-family: Arial, Helvetica, sans-serif; 
}

.title {
    padding-top: 50px;
}

.subtitle {
    color:grey;
}

.description {
    padding-top: 200px;
    padding-bottom: 40px;
}
